<form action="/pdfcreate" method="post">
	<input type="text" name="nome" placeholder="NOME">
	<input type="text" name="sobrenome" placeholder="SOBRENOME">
	<input type="submit" value="enviar">
</form>