{{!-- FORM LOGUIN --}}

<div class="mx-auto my-5" style="width: 18rem;">
	<h2 class="">Login</h2>
	<form action="/login" method="post">
		<div class="card mx-auto">
			<div class="card-body">
				<label for="name">Email: </label>
					<input type="email" name="email" id="email" class="form-control" required>
				<label for="password">Senha: </label>
					<input type="password" name="password" id="password" class="form-control" required>
				<button type="submit" class="btn btn-success mt-4">Acessar</button>
			</div>
		</div>
	</form>
</div> 
